.container {
  min-height: 100vh;
  background-color: rgb(24 24 27);
  color: white;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

@media (min-width: 768px) {
  .main {
    padding: 2rem;
  }
}

.formWrapper {
  width: 100%;
  max-width: 28rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.headerText {
  text-align: center;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .title {
    font-size: 1.875rem;
  }
}

.subtitle {
  margin-top: 0.5rem;
  color: rgb(161 161 170);
} 