.container {
  width: 100%;
  margin-top: 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
}

.projectCard {
  background-color: rgba(39, 39, 42, 0.5);
  border-color: rgb(63, 63, 70);
}

.cardContent {
  padding: 1rem;
}

.projectButton {
  width: 100%;
  justify-content: flex-start;
  color: rgb(161, 161, 170);
  margin-bottom: 0.5rem;
}

.addProjectButton {
  border: none;
  color: white;
  background-color: rgb(75, 75, 218);
}

.projectButton:hover {
  color: white;
}

.icon {
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
} 