.header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgb(39, 39, 42); /* zinc-800 */
  border-bottom: 1px solid rgb(63, 63, 70); /* zinc-700 */
}

.header-container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-text {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.header-nav {
  display: none;
  gap: 2rem;
}

@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  
}

.header-nav-link {
  font-size: 0.875rem;
  font-weight: 500;
  color: rgb(212, 212, 216); /* zinc-300 */
  transition: color 0.2s ease;
}

.header-nav-link:hover {
  color: white;
}

.header-menu-button {
  color:  rgb(44, 94, 255);
  display: flex;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #18181b;
  z-index: 50;
  padding: 2rem;
}

.mobile-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 2rem;
}

.mobile-menu-link {
  font-size: 1.5rem;
  font-weight: 500;
  color: #5757ff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.mobile-menu-link:hover {
  color:  rgb(44, 94, 255);
}

.mobile-menu-button {
  color: #d4d4d8;
  font-size: 1.5rem;
  width: 200px;
  transition: color 0.2s ease;
}

.mobile-menu-button:hover {
  color:  rgb(44, 94, 255);
}

.mobile-menu-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: #d4d4d8;
  transition: all 0.2s ease;
}

.mobile-menu-close:hover {
  color: #ffffff;
  background-color: #27272a;
  border-radius: 50%;
}

